Repository ronny1020/react-room-booking-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src/** --fix, stylelint --fix, eslint --ext .html --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,jsx,tsx}": ["eslint src/** --fix"],
  "*.scss": ["stylelint --fix"],
  "*.html": ["eslint --ext .html --fix"],
  "*.{json,md}": ["prettier --write"]
}

feat(input number): create component
  .eslintrc.json
  src/App.tsx
  src/component/CustomInputNumber/CustomInputNumber.module.scss
  src/component/CustomInputNumber/CustomInputNumber.tsx
  webpack.config.js
Due: eslint src/** --fix, stylelint --fix, prettier --write

feat(custom room): add component
  src/App.tsx
  src/app.scss
  src/component/CustomInputNumber/CustomInputNumber.module.scss
  src/component/CustomInputNumber/CustomInputNumber.tsx
  src/component/CustomRoom/CusTomRoom.module.scss
  src/component/CustomRoom/CustomRoom.domain.ts
  src/component/CustomRoom/CustomRoom.tsx
Due: eslint src/** --fix, stylelint --fix

feat(room): add RoomAllocation
  .eslintignore
  .eslintrc.json
  .stylelintignore
  src/App.tsx
  src/component/CustomRoom/CusTomRoom.module.scss
  src/component/CustomRoom/CustomRoom.tsx
  src/component/RoomAllocation/RoomAllocation.module.scss
  src/component/RoomAllocation/RoomAllocation.tsx
Due: eslint src/** --fix, stylelint --fix, prettier --write

ci(github action): deploy to github page by github action
  .github/workflows/deploy.yml
  package.json
  src/App.tsx
  src/component/CustomRoom/CustomRoom.module.scss
  src/component/CustomRoom/CustomRoom.tsx
  src/style.scss
  tsconfig.json
Due: eslint src/** --fix, stylelint --fix, prettier --write

feat(custominputnumber): support for long press
  .eslintrc.json
  src/App.tsx
  src/component/CustomInputNumber/CustomInputNumber.tsx
  src/component/CustomRoom/CustomRoom.module.scss
  src/components/CustomInputNumber/CustomInputNumber.module.scss
  src/components/CustomInputNumber/CustomInputNumber.tsx
  src/components/CustomRoom/CustomRoom.domain.ts
  src/components/CustomRoom/CustomRoom.module.scss
  src/components/CustomRoom/CustomRoom.tsx
  src/components/RoomAllocation/RoomAllocation.module.scss
  src/components/RoomAllocation/RoomAllocation.tsx
  tsconfig.json
  webpack.config.js
Due: eslint src/** --fix, stylelint --fix, prettier --write

deploy
  index.bundle.js
  index.html
  main.css
Due: eslint src/** --fix, eslint --ext .html --fix

test
  .eslintignore
Due: none
